.modal { width: 30% !important ; 
    height: 75% !important ;
    background-color:whitegray !important;
  }

.hcss1{
background-color:#f4f4f4;
color:black;
}

.marginofemail1{
padding-top:0px;
padding-bottom:0px;
}

.marginofpassword1{
padding-bottom:0px;
padding-top:0px;
}


.marginupside1{
padding-top:100px;
}



