.modal { width: 30% !important ; 
    /* height: 75% !important ; */
    background-color:whitegray !important;
    max-height:150vw !important;
  }

.hcss1{
background-color:#f4f4f4;
color:black;
}

.modal-content{
  padding-top:0px;
  padding-bottom:10px !important;
  margin-top:0px;
}

input{
  border-bottom:1.8px solid #26a69a !important;
}

.hr{
  padding-top:0px !important;
  padding-bottom:0px !important;
}


.lineconnectone{
  padding-top:25px !important;
}

.model-content{
  padding:2%;
}

.connect{
  color:grey !important;
  margin:0 !important;
  padding:0 !important;
}


/* .marginofemail1{
padding-top:0px;
padding-bottom:0px;
}

.marginofpassword1{
padding-bottom:0px;
padding-top:0px;
}


.marginupside1{
padding-top:100px;
} */

.adjust{
  padding-bottom:10px;
}

