.hcss{
    background-color:#f4f4f4;
    color:black;
    font-weight:bold !important;
}
input{
    border-bottom:2px solid #26a69a !important;
    
}

.changed{
    background-color:#f4f4f4 !important;
}

.colorthing{
    color:#26a69a !important;
}



.hr{
    padding-top:0px !important;
    padding-bottom:0px !important;
}

.connect{
    color:grey;
    margin:0 !important;
    padding:0 !important;
}



.lineconnect{
    padding-top:25px !important;
}

.sized{
    font-size:14px !important;
    color:skyblue !important;
}

