.checkbox-blue[type="checkbox"].filled-in:checked+span:not(.lever):after{
    border: 2px solid #1565c0;
    background-color: #1565c0;
}
/* input[type="checkbox"] {
    transform: scale(2) !important;
} */