.tabs .tab a{
    color:grey;
} /*Black color to the text*/

.tabs .tab a:hover {
    /* background-color:rgba(66,103,178,0.7); */
    color:black;
} /*Text color on hover*/

.tabs .tab a:focus.active {
    background-color: white;/*rgba(21,101,192,0.7);*/
    color: black;/*#1565c0;*/
} /*Background and text color when a tab is active*/

.tabs .tab a.active {
    background-color: white;/*rgba(21,101,192,0.7);*/
    color:black;/*#1565c0;*/
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: white;/*#1565c0;*/
} /*Color of underline*/

/*Vertical Divider*/
/* .tabs-divider{
    border-left:1px solid #38546d; 
    border-right:1px solid #16222c; 
    height:80px;
    position:absolute;
    right:249px;
    top:10px; 
} */